# Yandex GPT
YANDEX_GPT_API_KEY=your-api-key
YANDEX_GPT_FOLDER_ID=your-folder-id
YANDEX_GPT_MODEL=yandexgpt/latest
YANDEX_GPT_BASE_URL=https://llm.api.cloud.yandex.net/foundationModels/v1

# MSSQL
MSSQL_SA_PASSWORD=YourStrong@Password123
MSSQL_DB=service_desk_tdbb

# App
TELEGRAM_BOT_TOKEN=your-telegram-token
