# YandexGPT
YANDEX_GPT_API_KEY=
YANDEX_GPT_FOLDER_ID=

# MSSQL
MSSQL_SA_PASSWORD=
MSSQL_SERVER=mssql
MSSQL_DATABASE=service_desk_tdbb

# Telegram User Bot
TELEGRAM_BOT_TOKEN=

# Telegram Admin Bot
ADMIN_BOT_TOKEN=
SUPER_ADMIN_ID=

# API
API_BASE_URL=http://api:8001
API_PUBLIC_URL=http://111.88.159.72:8001
